.first-time-image {
  height: 290px !important;
  width: 310px !important;
}

.continue-button {
  background-color: #150578 !important;
  color: white !important;
  margin-top: 25px !important;
}

.action-button {
  background-color: #150578 !important;
  color: white !important;

}

.expansion-panel-heading {
  font-size: 20px !important;
  padding: 9px !important;
}

.expansion-panel-text {
  font-size: 16px !important;
}

.expansion-divider {
  height: 50px !important;
}

.img-div {
  text-align: center !important;
}

.coming-soon-img {
  height: 400px !important;
  width: auto !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.div-heading {
  font-size: 25px !important;
  padding-bottom: 15px !important;
  text-align: center !important;
  font-weight: bold !important;
}

.div-text {
  font-size: 20px !important;
  text-align: center !important;
}

.action-text {
  font-size: 16px !important;
}

.action-text-completed { 
  font-size: 16px !important;
  text-decoration: line-through!important; 
  color: #C4C4C4 !important
}

.checklist-assist-class {
  color: #F6AC00 !important;
  font-weight: bold !important;
}

.checklist-assist-class-completed {
  color : #01AE4B !important;
  font-weight: bold !important;
}

.checkmark-green {
  color : #01AE4B !important;
}
